{% from 'user_messages.html' import error as show_error %}
<div class="container">
    <form action="" method="post" name="post">
        {{ form.hidden_tag() }}

    <h2>{{ form_title }}</h2>

    <div class="form-group">
        {{ form.title(placeholder="Title", class="form-control") }}
        {% for error in form.errors.title %}
            {{ show_error(error) }}
        {% endfor %}
    </div>

    <div class="form-group">
        {{ form.authors(placeholder="Authors", class="form-control") }}
        {% for error in form.errors.authors %}
            {{ show_error(error) }}
        {% endfor %}
    </div>

    <div class="form-group">
        {{ form.url(placeholder="URL", class="form-control") }}
        {% for error in form.errors.url %}
            {{ show_error(error) }}
        {% endfor %}
    </div>

    <div class="form-group">
        {{ form.ed(placeholder="ed", class="form-control") }}
        {% for error in form.errors.ed %}
            {{ show_error(error) }}
        {% endfor %}
    </div>

    <div class="form-group">
        <label>Overview</label>
        {{ form.overview(class="form-control", rows='20') }}
    </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="before_submit();">{{ submit_text }}</button>

    </form>
</div>