{% extends 'base.html' %}

{% block content_heading %}

    <hr>
    <div class="container pull-right">
        <div class="row">
            <div class="col col-md-4">
                <img src="{{ post.user.get_avatar(40) }}">
            </div>
            <div class="col col-md-6">
                <p class="text-muted">
                <i>{{ post.user.nickname }}</i><br>
                {{ post.timestamp }}
                </p>
            </div>
        </div>

    </div>

    <h3>{{ post.title }}</h3>
    <p class="lead text-muted">{{ post.authors }}</p>
    <a href="{{ post.url }}" class="btn btn-xs btn-default {{ 'disabled' if not post.url else '' }}">Source ››</a>
    <p class="text-muted">{{ post.ed }}</p>
    <br>

{% endblock %}

{% block content %}
    <p>
    {{ post.overview }}
    </p>
{% endblock %}