<!doctype html>

<html>

  <head>
    <title>Interactive Education - Papers</title>
    <meta name="viewport" content="width=device-width">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/runtime_user_messages.js') }}"></script>
    <style type="text/css">
      .navbar-brand {
        padding: 12px 15px;
      }
      body {
        padding-top: 40px;
      }
    </style>
  <script type="text/javascript">
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/reveal.css') }}">


      {% block head %}
      {% endblock %}
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="Interactive Education" id="intedu-logo"></a>
        </div>
          <div class="collapse navbar-collapse navbar-ex1-collapse pull-right">
              <ul class="nav navbar-nav">
                  <li>
                      {% if not g.user.is_authenticated() %}
                          <a href="{{ url_for('login') }}" class="btn btn-default btn-sm">Sign In ››</a>
                      {% else %}
                              <a href="{{ url_for('logout') }}" class="btn btn-default btn-sm">Log Out [<span class="text-success">{{ g.user.nickname }}</span>]</a>
                      {% endif %}
                  </li>
              </ul>
          </div>
      </div>
    </nav>
    <div class="container">

        {% block content_heading %}
        {% endblock %}

        <div id="user_messages">
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% import 'user_messages.html' as um %}
            {% if messages %}
                {% for category, msg in messages %}
                    {% if category == 'error' %}
                        {{ um.error(msg) }}
                    {% elif category == 'warning'%}
                        {{ um.warning(msg) }}
                    {% elif category == 'success' %}
                        {{ um.success(msg) }}
                    {% else %}
                        {{ um.info(msg) }}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
        </div>


    <!--START content-->
    {% block content %}

    {% endblock %}
    <hr>
    <!--END content-->
    </div>
<script src="{{ url_for('static', filename='javascript/jquery.reveal.js') }}" type="text/javascript"></script>

  </body>

</html>