{% extends 'base.html' %}

{% block content_heading %}
    <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">Интерактивные системы обучения: полезные работы и статьи.</h1>
          <p class="lead text-muted">
              Здесь собираются различные работы по теме интерактивного обучения и смежным областям с краткими обзорами.
          </p>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div id="confirm-delete" class="reveal-modal">
        <h2></h2>
        <p>Are you sure?</p>
        <a class="btn btn-primary" href="javascript:$('#confirm-delete').trigger('reveal:close');">No</a>
        <a class="btn btn-danger" id="confirm-yes" href="#">Yes</a>
    <a class="close-reveal-modal">&#215;</a>
    </div>

    <script type="text/javascript">
        var confirm_delete = function(post_id){
            $("#confirm-delete").children('h2').text('You are going to delete post #' + post_id);
            $("#confirm-delete").reveal();
            $("#confirm-delete").children("#confirm-yes").attr('href', "javascript:delete_post('" + post_id + "');");
        };
        var delete_post = function(post_id){
            console.log("About to delete post #" + post_id);
            $.getJSON($SCRIPT_ROOT + '/posts/_delete_post/' + post_id, {}, function(data){
                var post_id = data['deleted_post_id'];
                $("#post_" + post_id).hide();
                $("#confirm-delete").trigger('reveal:close');
                $("#user_messages").append(user_message(data.result, 'success'));
            });
        };
    </script>

    {% if g.user.is_authenticated() and g.user.is_admin() %}
        <div class="container">
        <a class="btn btn-primary btn-xs" title="Create new post" href="{{ url_for('new_post') }}">+ Add</a>
        </div><br>
    {% endif %}
    <div class="container">
    {% if posts %}
        <ul class="list-group">
            {% for post in posts %}
                <li class="list-group-item" id="post_{{ post.id }}">
                    <a class="btn pull-right btn-default btn-xs" href="{{ url_for('show_post', post_id=post.id) }}"><br>&nbsp;››&nbsp;<br><br></a>
                    <p class="text-muted">
                        <img src="{{ post.user.get_avatar(40) }} ">
                        <i>{{ post.user.nickname }}</i>
                        {{ post.timestamp }}
                    </p>
                    <p style> <b>{{ post.title }}</b> <i>{{ post.authors }}</i></p>
                {% if g.user.is_authenticated() and g.user.is_admin() %}
                    <a class="btn btn-warning btn-xs" href="{{ url_for('edit_post', post_id=post.id) }}">~ Edit</a>
                    <a class="btn btn-danger btn-xs" href="#" onclick="confirm_delete('{{ post.id }}')">– Delete</a>
                {% endif %}
                </li>
            {% endfor %}

        </ul>
    {% else %}
        <div class="container">
            <hr>
            <p class="text-center text-muted"><i>No posts yet</i></p>
        </div>
    {% endif %}
    </div>
{% endblock %}