<!doctype html>
<html>
  <head>
    <title>Sign In</title>
    <meta name="viewport" content="width=device-width">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/bootstrap.min.js') }}"></script>
    <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #eee;
      }
      
      .form-signin {
        max-width: 400px;
        padding: 15px;
        margin: 0 auto;
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin .checkbox {
        font-weight: normal;
      }
      .form-signin .form-control {
        position: relative;
        font-size: 16px;
        height: auto;
        padding: 10px;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
      }
      .form-signin .form-control:focus {
        z-index: 2;
      }
      .form-signin input[type="text"] {
        margin-bottom: -1px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
      .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    </style>
  </head>
  <body>
    <div class="container">

    <script type="text/javascript">
        var toggle_active = function(btn){
            $('#choose-provider').children('.btn-primary').addClass('btn-default');
            $('#choose-provider').children('.btn-primary').removeClass('btn-primary');
            $(btn).removeClass('btn-default');
            $(btn).addClass('btn-primary');
        };
        var set_openid = function(provider_name, provider_url){
            var btn = $('#' + provider_name);
            toggle_active(btn);
            if(btn.hasClass('requires_username')){
                $("#username").slideDown();
            }
            else{
                $("#username").slideUp();
            }
            $.provider = {};
            $.provider.name = provider_name;
            $.provider.url = provider_url;

        };
        var before_submit = function(){
            var form = document.forms['login'];
            form.elements['openid'].value = $.provider.url.replace('<username>', form.elements['username'].value);
        }
    </script>

    <div id="user_messages">
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% import 'user_messages.html' as um %}
            {% if messages %}
                {% for category, msg in messages %}
                    {% if category == 'error' %}
                        {{ um.error(msg) }}
                    {% elif category == 'warning'%}
                        {{ um.warning(msg) }}
                    {% elif category == 'success' %}
                        {{ um.success(msg) }}
                    {% else %}
                        {{ um.info(msg) }}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

      <form class="form-signin" action="" method="post" name="login">
          {{ form.hidden_tag() }}
        <h2 class="form-signin-heading">Please sign in</h2>
      <p class="text-muted">Choose an OpenID provider to sign in with</p>
        <div class="btn-group btn-group-xs btn-group-justified" id="choose-provider">
            {% for provider in providers %}
                <a class="btn btn-default btn-xs {{ 'requires_username'*provider.requires_username }}" id="{{ provider.name }}" href="javascript:set_openid('{{ provider.name }}', '{{ provider.url }}')">{{ provider.name }}</a>
{#                <a class="btn btn-default btn-xs" id="{{ provider.name }}" href="javascript:set_openid('{{ provider.name }}', '{{ provider.url }}')">{{ provider.name }}</a>#}
            {% endfor %}
        </div>
          {{ form.openid(placeholder='OpenID', class='form-control', style='display: None;') }}
          {% for error in form.errors.openid %}
              <div class="alert alert-danger">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  &nbsp;{{ error }}
              </div>
          {% endfor %}
      <input type="text" class="form-control" id="username" placeholder="Enter your username" name="username">
      <script type="text/javascript">
          set_openid('{{ providers[0].name }}', '{{ providers[0].url }}');
      </script>
        <label class="checkbox">
            {{ form.remember_me }} Remember Me
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="before_submit();">Sign in</button>
      </form>


    </div> <!-- /container -->

  </body>
</html>