{% macro error(msg=None) %}
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        &nbsp;Oops!&nbsp;{{ msg }}
    </div>
{% endmacro %}

{% macro warning(msg=None) %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        &nbsp;Warning!&nbsp;{{ msg }}
    </div>
{% endmacro %}

{% macro info(msg=None) %}
    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        &nbsp;{{ msg }}
    </div>
{% endmacro %}

{% macro success(msg=None) %}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        &nbsp;Yay!&nbsp;{{ msg }}
    </div>
{% endmacro %}